<section class="form-container">
  <h1>Edit Product</h1>

  <%= render "form", product: @product %>

  <div class="form-actions">
    <%= link_to "Cancel", @product, class: "btn-cancel" %>
  </div>
</section>
